div.input-checkbox-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    font-family: "Raleway";
    font-weight: lighter;
  }

  input {
    width: 20px;
  }
}
